<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vnd.css' %}?v=0.81"
    />
    <title>베트남동 환전</title>
  </head>
  <body>
    <div class="main_subject">
      <h1>결과값</h1>
      <br />
    </div>

    <br />

    <div class="d_VND_KRW">
      <h2>***{{amt_format}} VND 환전 결과***</h2>
      <br />
      <h3>
        오늘의 환율은 {{rate_today}} 이며, 해당 금액으로 환전된 금액은
        {{VNDKRW_TODAY_format}}원 입니다.
      </h3>
      <!-- View화면 내에서 if문으로 출력된 환율 비교에 따른 결과값 출력 -->
      <h3>{{compare_today_yesterday}}</h3>
      <h3>{{compare_today_week}}</h3>
      <br />

      <a href="{%url 'home' %}">홈으로 돌아가기</a>
    </div>
  </body>
</html>
